main{
    background-color: #1c1c1c;
    padding-bottom: 20px;
    .likeAButton{
        color: #fff;
        padding: 10px 15px;
        font-weight: bold;
        background-color: #0282f9;
    }
    .general-container{

    }
    .cards-container{
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        .card{
            width: calc(100% / 6 - 10px);
            color: #fff;
            padding: 5px;
            filter: brightness(80%);

            .info-card-container{
                text-align: center;
            }
        }
        .card:hover{
            filter: brightness(130%);
        }
    }
    .button-area{
        text-align: center;
    }
}